MONGODB_URI=mongodb+srv://surveyflow_app:DEIN_PASSWORT@lehrngruppen-finder.zggyoxl.mongodb.net/?retryWrites=true&w=majority
ADMIN_USER=Admin
ADMIN_PASSWORD=Dumm
ALLOWED_ORIGINS=https://bens-c.github.io
